body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background: linear-gradient(135deg, #f0f8ff, #e6f7ff);
}

.circle-container {
    width: 30vw; /* Reduced from 80vw to 60vw */
    height: 30vw; /* Reduced from 80vw to 60vw */
    max-width: 500px; /* Reduced from 800px to 600px */
    max-height: 500px; /* Reduced from 800px to 600px */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

#particleCanvas {
    width: 100%;
    height: 100%;
    border: none;
}

#toggleForceButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggleForceButton:hover {
    background-color: #f0f0f0;
}

@media (max-width: 500px) {
    .circle-container {
        width: 80vw; /* Adjusted for smaller screens */
        height: 80vw; /* Adjusted for smaller screens */
    }
    
    #toggleForceButton {
        padding: 8px 16px;
    }
}